In [1]:
from download_automation import *

INFO:shining_pebbles:Shining Pebbles package initialized
INFO:aws_s3_controller:aws_s3_controller package initialized

In [2]:
tracer = Tracer(subject='menu2820')

Already exists: C:\dev-system\module-download_automation\data\dataset-coordinate

In [4]:
tracer.record_coordinates()

ÌôîÎ©¥ÏùÑ ÌÅ¥Î¶≠ÌïòÏÑ∏Ïöî. 20Ï¥àÍ∞Ñ ÏõÄÏßÅÏûÑÏù¥ ÏóÜÍ±∞ÎÇò ESCÎ•º ÎàÑÎ•¥Î©¥ Ï¢ÖÎ£åÎê©ÎãàÎã§.
Clicked at (1015, 37)
Clicked at (115, 208)
Clicked at (122, 244)
Clicked at (235, 240)
Clicked at (1173, 127)
Clicked at (1154, 279)
Clicked at (1039, 434)
üìÑ Recorded coordinates saved to dataset-coordinate-menu2820-save2024082208.csv

menu2820   screen_size absolute_coord    relative_coord
step
1         (2560, 1440)     (1015, 37)  (0.3965, 0.0257)
2         (2560, 1440)     (115, 208)  (0.0449, 0.1444)
3         (2560, 1440)     (122, 244)  (0.0477, 0.1694)
4         (2560, 1440)     (235, 240)  (0.0918, 0.1667)
5         (2560, 1440)    (1173, 127)  (0.4582, 0.0882)
6         (2560, 1440)    (1154, 279)  (0.4508, 0.1938)
7         (2560, 1440)    (1039, 434)  (0.4059, 0.3014)

In [5]:
tracer.append_sequences_to_recorded_coordinates(sequences=['input_menu_code', 'input_fund_code', 'input_start_date', 'input_end_date', 'button_search', 'button_excel', 'button_excel_popup'])

üìÑ Sequences appended to dataset-coordinate-menu2820-save2024082208.csv

       screen_size absolute_coord    relative_coord            sequence
step
1     (2560, 1440)     (1015, 37)  (0.3965, 0.0257)     input_menu_code
2     (2560, 1440)     (115, 208)  (0.0449, 0.1444)     input_fund_code
3     (2560, 1440)     (122, 244)  (0.0477, 0.1694)    input_start_date
4     (2560, 1440)     (235, 240)  (0.0918, 0.1667)      input_end_date
5     (2560, 1440)    (1173, 127)  (0.4582, 0.0882)       button_search
6     (2560, 1440)    (1154, 279)  (0.4508, 0.1938)        button_excel
7     (2560, 1440)    (1039, 434)  (0.4059, 0.3014)  button_excel_popup